input[type=number][data-v-41a34d10]::-webkit-inner-spin-button,input[type=number][data-v-41a34d10]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}input[type=number][data-v-41a34d10]{-moz-appearance:textfield}
